<iframe
  width="100%"
  height="450"
  [src]="videoURL"
  frameborder="0"
  webkitallowfullscreen
  mozallowfullscreen
  allowfullscreen
></iframe>
<section class="video-details">
  <div
    class="video-group d-flex justify-content-between align-items-center flex-wrap"
  >
    <h4 class="video-title ">
      {{ video?.snippet.title }}
    </h4>
    <button class="btn btn-remove" (click)="addToFavorite(video)">
      <span *ngIf="favoriteStatus; else addFav"> Remove from favorite</span>
      <ng-template #addFav>
        Add to favorite
      </ng-template>
    </button>
  </div>
  <div
    class="video-group d-flex justify-content-between align-items-center flex-wrap"
  >
    <h4 class="video-rate">
      <span>
        Rate Now
      </span>

      <star-rating
        [value]="ratingValue"
        totalstars="5"
        checkedcolor="red"
        uncheckedcolor="gray"
        size="22px"
        readonly="false"
        (rate)="onRate(video.id, $event)"
      ></star-rating>
    </h4>
    <h5 class="video-duration">
      Duration
      <span>
        {{ convertISOToSeconds(video?.contentDetails.duration) }}
      </span>
    </h5>
    <div class="video-count">
      <span>
        <i class="material-icons search-icon">
          remove_red_eye
        </i>
        {{ video?.statistics.viewCount }}
      </span>
      <span>
        <i class="material-icons search-icon">
          thumb_up_alt
        </i>
        {{ video?.statistics.likeCount }}
      </span>
    </div>
  </div>
  <div class="video-group">
    <h5 class="video-publish">
      Published on {{ video?.snippet.publishedAt | date }}
    </h5>
    <p class="video-description">
      {{ video?.snippet.description }}
    </p>
  </div>
</section>
