.pagination {
  padding: 30px 0;
  button {
    margin: 2px;
    background: $color-white-grey;
    padding: 0;
    border: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    &:hover {
      background: $color-secondary;
      color: white;
    }
  }
}
