<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let item of youtubeList">
      <div class="card favorite-card">
        <img
          class="card-img-top"
          [src]="item.snippet.thumbnails.high.url"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.snippet.title | truncate: 30 }}</h5>
          <p class="card-text">
            {{ item.snippet.description | truncate }}
          </p>

          <div class="d-flex justify-content-between align-items-center">
            <a
              class="btn btn-details m-1"
              [routerLink]="['/details', item.snippet.resourceId.videoId]"
            >
              Details</a
            >

            <button
              (click)="removeFavorites(item.snippet.resourceId.videoId)"
              class="remove-favorite"
            >
              <span class="material-icons">
                delete
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="youtubeList.length === 0">
      <div class="text-center">
        <div class="my-4">
          <h4>
            Your favorite is empty
          </h4>
        </div>
        <a routerLink="/" class="btn-remove">Home page</a>
      </div>
    </div>
  </div>
</div>
